<div class="wrapper row4">
    <footer id="footer" class="hoc clear"> 
       
      <div class="one_quarter first">
        <h6 class="heading">Id ornare et lorem sed</h6>
        <ul class="nospace linklist contact btmspace-30">
          <li><i class="fas fa-map-marker-alt"></i>
            <address>
            Seoul
            </address>
          </li>
          <li><i class="fas fa-phone"></i> +00 (123) 456 7890</li>
          <li><i class="far fa-envelope"></i> info@domain.com</li>
        </ul>
        
      </div>
      <div class="one_quarter">
        <h6 class="heading">Lacinia nunc et porta</h6>
        <ul class="nospace linklist">
          <li>
            <article>
              <p class="nospace btmspace-10"><a href="#">Porta tellus massa consectetuer sem eget pharetra ligula purus sit amet dui.</a></p>
              <time class="block font-xs" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
            </article>
          </li>
          <li>
            <article>
              <p class="nospace btmspace-10"><a href="#">Commodo ornare maximus donec consectetuer adipiscing elit pellentesque habitant.</a></p>
              <time class="block font-xs" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
            </article>
          </li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Non lobortis felis lacus</h6>
        <ul class="nospace linklist">
          <li><a href="#">Morbi tristique senectus</a></li>
          <li><a href="#">Habitasse platea dictumst</a></li>
          <li><a href="#">Egestas in hac habitasse</a></li>
          <li><a href="#">Tellus ac convallis pellentesque</a></li>
          <li><a href="#">Lacus tortor varius erat</a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Platea dictumst fusce</h6>
        <ul class="nospace clear latestimg">
          <li><a class="imgover" href="#"><img src="/images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="/images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="/images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="/images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="/images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="/images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="/images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="/images/demo/100x100.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="/images/demo/100x100.png" alt=""></a></li>
        </ul>
      </div>
       
    </footer>
  </div>
   
   
   
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
       
      <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">DoubleKJ</a></p>
      <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
       
    </div>
  </div>
   
   
   
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="/layout/scripts/jquery.min.js"></script>
  <script src="/layout/scripts/jquery.backtotop.js"></script>
  <script src="/layout/scripts/jquery.mobilemenu.js"></script>