<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<%- include('../inc/plugin')%>
<style>
#user_join {font-family: Arial, Helvetica, sans-serif;}
#user_join {box-sizing: border-box; width: 800px; margin: auto; justify-content: center;
    align-items : center;}
#user_join * {box-sizing: border-box; width: 800px; margin: auto; justify-content: center;
    align-items : center;}
#user_join input[type=text], #user_join input[type=password]{
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#user_join input[type=button] {
  float: left;
  background-color: #797bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
}
#user_join input[type=button]:hover {
  background-color: #45a049;
}
.user_container {
  border-radius: 5px;
  background-color: rgb(236, 232, 253);
  padding: 20px;
  display: inline-block;
}
</style>











<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(function(){
    $($("input[type=button]")[0]).click(function(){
        //아이디 비어있음 체크
        if($("#user_id").val()==""){
            alert("아이디를 입력해주세요");
            return;
        }
        //비밀번호 비어있음 체크
        if($("#user_pass").val()==""){
            alert("비밀번호를 입력해주세요");
            return;
        }
        if($("#user_pass2").val() != $("#user_pass").val()){
            alert("비밀번호가 다릅니다");
            return;
        }
        //이름 비어있음 체크
        if($("#user_name").val()==""){
            alert("이름을 입력해주세요");
            return;
        }
        $("form").attr("action","/doublekj/join"); //주소 정하면 넣기
        $("form").attr("method","post");
        $("form").submit();
    });
    //두번째 버튼을 누르면 홈페이지로 다시 돌아가기
    $($("input[type=button]")[1]).click(function(){
      location.href="/doublekj/main";
    });
});
//전화번호 자동으로 하이픈 넣기
$(document).on("keyup", ".tel", function() {
  $(this).val( $(this).val().replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,"$1-$2-$3").replace("--", "-") );
});
//체크박스
$(document).ready(function(){
        $('.check-all').click(function(){
          $('.ab').prop('checked', this.checked);
        });
      });
</script>
</head>





<body>
  <%- include('../inc/header')%>



<div id="user_join">
  <h2 align="center" style="font-size: 30px; font-family:궁서체; margin-top: 20px;">오라오라 이리오라</h2>
  <br><div class="user_container">
    <form>
      <label for="user_id">ID</label><br>
      <input type="text" id="user_id" name="user_id" placeholder="아이디 입력"><br>
  
      <label for="user_pass">비밀번호</label><br>
      <input type="password" id="user_pass" name="user_pass" placeholder="비밀번호 입력"><br>
  
      <label for="user_pass2">비밀번호 확인</label><br>
      <input type="password" id="user_pass2" name="user_pass2" placeholder="비밀번호 확인"><br>
  
      <label for="user_name">이름</label><br>
      <input type="text" id="user_name" name="user_name" placeholder="이름 입력"><br>
  
      <label for="user_phone">전화번호</label><br>
      <input type="text" class="tel" id="user_phone" name="user_phone" placeholder="010-0000-0000" maxlength="13"><br>
  
      <label for="user_email">이메일</label><br>
      <input type="text" id="user_email" name="user_email" placeholder="이메일 입력"><br>
            
      <p><input type="checkbox" name="check_all" class="check-all"> <label>전체 동의</label></p>
      <hr align="left" style="width: 80%;">
      <p><input type="checkbox" name="check_1" class="ab"> <label>개인정보 처리방침 동의</label></p>
      <p><input type="checkbox" name="check_2" class="ab"> <label>서비스 이용약관 동의</label></p>
      <p><input type="checkbox" name="check_3" class="ab"> <label>마케팅 수신 동의</label></p>
      
      <br>
      <input type="button" value="회원가입">
      <input type="button" value="다음에 가입할게요!">
    </form>
  </div>
</div>






<%- include('../inc/footer')%>
</body>
</html>
